# Resend API Configuration
# Get your API key from https://resend.com/api-keys
RESEND_API_KEY=re_your_api_key_here
VERCEL_TOKEN=your_token_key_here
VERCEL_ORG_ID=team_your_org_id_here
VERCEL_PROJECT_ID=prj_your_project_id_here